@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    background: rgb(230, 230, 230);
    
    
}

.header {
    text-align: center;
    margin: 48px;
    font-family: Roboto;
    font-weight: bolder;
    color: rgb(37, 37, 37);
    font-size: 54px;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.363);
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 0;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    padding: 0;
     
}

.emptybox {
    background-color: rgb(255, 255, 255);
    height: 31.25px;
    width: 31.25px;
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.colored {
    background-color: rgb(0, 0, 0);
    height: 31.25px;
    width: 31.25px;
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

